
<!Doctype html>
<html>
<head>
    <title>Home</title>
    
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'fic_script.js' %}"></script>
<link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="#">Woutoum Liguueey</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trouver une entreprise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/">Se connecter</a>
        </li>
      </ul>
    </div>
  </nav>
  
      <div class="header-banner">
        <div class="header-content">
          <h1>Trouve ton Emploi en un clic</h1>
          <div class="search-container" style="display: flex; align-items: center;">
              <form method="get" action="{% url 'companies' %}" style="display: flex; width: 50%; align-items: center;">
                  <input type="text" name="search_term" class="search-box" placeholder="Cherchez un job par intitulé de poste, mot-clé ou entreprise" value="{{ request.GET.search_term }}" style="flex-grow: 1; height: 40px; margin-right: 5px;">
                  <button type="submit" class="search-button" style="height: 40px;">Rechercher</button>
              </form>
          </div>
      </div>
          
          <div class="feature-container">
            <div class="feature">
              <h2>RECHERCHE SIMPLIFIÉE</h2>
              <p>Recherchez des emplois par intitulé de poste, mot-clé ou entreprise</p>
            </div>
            <div class="feature">
              <h2>POSTULEZ FACILEMENT</h2>
              <p>Postulez en un clic à des offres d'emploi qui vous correspondent</p>
            </div>
            <div class="feature">
              <h2>RECEVEZ DES ALERTES</h2>
              <p>Recevez des alertes pour les nouvelles offres d'emploi correspondant à vos critères</p>
            </div>
          </div>
        </div>

      </div>

      <div class="container mt-5">
        <!-- Carrousel de Bootstrap -->
        <div id="carouselExampleControls"  data-bs-ride="carousel">
            <div class="carousel-inner">
              
                {% for company in companies %}
                    {% if forloop.counter0|divisibleby:6 %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="row">
                    {% endif %}
                    
                                <div class="col-md-4">
                                    <div class="card company-card">
                                
                                        <div class="card-body">
                                            <h5 class="card-title">{{ company.name }}</h5>
                                            <p class="truncate card-text text-truncate">{{ company.sector }}</p>
                                            <p class="truncate card-text text-truncate">{{ company.location }}</p>
                                            <p class="card-text">{{ company.url_posts }}</p>
                                            <a href="https://www.welcometothejungle.com{{ company.num_posts }}" class="btn btn-secondary"> Postuler</a>
                                        </div>
                                    </div>
                                </div>
    
                    {% if forloop.counter|divisibleby:6 or forloop.last %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- Fin du Carrousel Bootstrap -->
        
    </div>
    <div data-companies="{{ companies|safe }}">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
          <li class="page-item">
              <a class="page-link" href="#" id="previous-page">Previous</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="#" id="next-page">Next</a>
          </li>
      </ul>
  </nav>
</div>


  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <h5>À PROPOS</h5>
          <ul>
            <li><a href="#">Concept</a></li>
            <li><a href="https://www.linkedin.com/in/mouhamed-mbaye-87184a18b/">Qui sommes-nous ?</a></li>
          </ul>
        </div>
      </div>  
    </div>
  
  </footer>

    <script src="{% static 'fic_script.js' %}"></script>

    </body>
</html>
